<?xml version="1.0" encoding="utf-8"?>
<manifest
	package = "com.nullcognition.spotifystreamer"
	xmlns:android = "http://schemas.android.com/apk/res/android"
	>

	<uses-permission android:name = "android.permission.INTERNET"/>
	<uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE"/>

	<application
		android:allowBackup = "true"
		android:icon = "@mipmap/ic_launcher"
		android:label = "@string/app_name"
		android:theme = "@style/AppTheme"
		>
		<activity
			android:label = "@string/app_name"
			android:name = ".MainActivity"
			>

		</activity>

		<service
			android:exported = "false"
			android:name = ".IntentServiceArtistSearch"
			>
		</service>

		<activity
			android:label = "@string/title_activity_artist_top10"
			android:name = ".ArtistTop10Activity"
			>
			<meta-data
				android:name = "android.support.PARENT_ACTIVITY"
				android:value = "com.nullcognition.spotifystreamer.MainActivity"
				/>
		</activity>
		<activity
			android:configChanges = "orientation|screenSize"
			android:label = "@string/title_activity_media_player"
			android:name = ".MediaPlayerActivity"
			>
			>
			<meta-data
				android:name = "android.support.PARENT_ACTIVITY"
				android:value = "com.nullcognition.spotifystreamer.ArtistTop10Activity"
				/>
		</activity>
		<activity
			android:label = "@string/title_item_list"
			android:launchMode = "singleTop"
			android:name = ".refactoredArch.ItemListActivity"
			>
			<intent-filter>
				<action android:name = "android.intent.action.MAIN"/>

				<category android:name = "android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:label = "@string/title_item_detail"
			android:name = ".refactoredArch.ItemDetailActivity"
			android:parentActivityName = ".refactoredArch.ItemListActivity"
			>
			<meta-data
				android:name = "android.support.PARENT_ACTIVITY"
				android:value = "com.nullcognition.spotifystreamer.refactoredArch.ItemListActivity"
				/>
		</activity>
	</application>

</manifest>
